*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    margin: auto;
}

.clearfix::after{
    clear:both;
    display: block;
    content:"";
}

body{
    background-color: black;
}

#Nav{
    display: flex;
    position: absolute;
    top: 3%;
    left: 2%;
    align-items: center;
    justify-content: center;
}

#Nav p{
    color: whitesmoke;
    position: relative;
    left: 10%;
    font-size: 30px;
}

#Menu{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0%;
    right: 0%;
    background-color: black;
    width: 500px;   
    min-height: 100px;
}

#Menu img{
    height: 50px;
    margin-left: 100px;
    margin-right: 0px;
}

#Menu a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    font-size: 18px;
}

#home a{
color: rgb(196, 72, 196);
}

#About{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%;
}

#About h1{
    color: whitesmoke;
    font-size: 50px;
}

#Box{
    position: relative;
    top: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}    

#Box p{
    position: relative;
    top: 200px;
    left: -10%;
    font-size: 20px;
}

#Box img{
    position: relative;
    width: 1000px;
    height: 600px;
}

