.heading{
    font-size: 100px;
    font-weight: bold;
    position: sticky;
    top:0;
    width:60%;
    background-color: rgba(29, 61, 199, 0.493);
    color:white;
}

.banner{
    position: sticky;
    top: 0;
    left: 0px;
    z-index: 1;
}



p{
    background-color: white;
    width: 40%;
}

body{
    background-image:url(Images/arkbackground.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 2500px;
}

.dino{
    display:flex;
    align-items: center;
    justify-content: space-between;

}

#wiki{
    text-align: center;
}

#wiki .container{
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    flex-wrap: wrap;
}

#wili .container img{
width: 30%;
border-radius: 20px;
}