*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    margin: auto;
}

.clearfix::after{
    clear:both;
    display: block;
    content:"";
}

#Nav{ 
    background-color: #dbb092;
    min-height: 75px;
    line-height: 75px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 100px;
}

#Nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

#Menu{
    float: left;
}

#Minecraft_Title{
    display: flex;
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#Minecraft_Title a{
    font-family: 'Courier New', Courier, monospace;
}

#Creeper{
    float: right;
    margin-right: 15px;
    margin-top: 12px;
}

#Area{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#Area_Text{
text-align: left;
flex: 1;
}

#Area_Text a{
    text-decoration: none;
    color: black;
}

#Line{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 1px; 
    background-color: #000000; 
    margin-bottom: 30px;
}

#Selection{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    transition: transform 0.3s 0.3s;
}    

#Selection a{
    text-decoration: none;
    color: black;
}


#Selection img{
    width: 300px;
    height: 500px;
}

.type{
text-align: center;
margin: 20px;
}

.type:hover{
    transform: translateY(-10px);
}

#Footer{
    background-color: #dbb092;
    margin-top: 50px;
    min-height: 75px;
    padding-left: 10px;
    padding-top: 10px;
   display: block;
}

#Footer a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    float: left;
}

#Footer p{
    float: right;
    padding-right:10px ;
}