*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    margin: auto;
}

.clearfix::after{
    clear:both;
    display: block;
    content:"";
}

#Nav{ 
    background-color: #dbb092;
    min-height: 75px;
    line-height: 75px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#Nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

#Menu{
    float: left;
}

#Minecraft_Title{
    display: flex;
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#Minecraft_Title a{
    font-family: 'Courier New', Courier, monospace;
}

#Creeper{
    float: right;
    margin-right: 15px;
    margin-top: 12px;
}

#Banner{
    background-image: url(/Images/Minecraft_Banner.jpg);
    background-size: cover;
    background-position:center;
    min-height: 600px;
    align-items: center;
    
}

#Banner_Text{
    color: white;
    max-width: 700px;
    position: absolute;
    top: 20%; 
    left: .5%; 
    font-size: 35px; 
    text-align: center; 
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
}

#Banner_Button{
    margin-top: 20px; 
    padding: 15px 30px; 
    background-color: rgba(255, 255, 255, 0.9);
    border: none; 
    font-size: 18px;  
    box-shadow: 0px 4px 5px rgb(0, 0, 0); 
    cursor: pointer;
    transition: all 0.5s ease; 
}

#Description_Banner{
    background-color:#7E7E7E;
    min-height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    transition: all 1s ease;
}

#Description_Image{
    margin-right: 40px;
}

#Description_Text{
    text-align: center;
    font-size: 25px;
    color: white;
    font-style: italic;
    font-weight: 700;
}

#Types{
    margin-top: 100px;
    margin-left: 10px;
}

#Types_Text{
    margin-top: 100px;
    float: left;
    max-width: 500px;
}

#Types_Text h1{
    margin-bottom: 50px;
}

#Types_Button{
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease; 
    font-size: 18px; 
    border: none;
    margin-top: 50px;
}

.Type{
float: right;
margin-right: 10px;
}

.Type img{
    width: 300px;
}

.Types_Image{
position: relative;
}

#JavaBedrock_Button{
    position: absolute;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    visibility: hidden;
    color: white;
}

#Dungeons_Button{
    position: absolute;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    visibility: hidden;
    color: white;
}

#Legends_Button{
    position: absolute;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    visibility: hidden;
    color: white;
}

.Types_Image:hover #JavaBedrock_Button{
    visibility: visible;
}

.Types_Image:hover #Dungeons_Button{
    visibility: visible;
}

.Types_Image:hover #Legends_Button{
    visibility: visible;
}
    

#Footer{
    background-color: #dbb092;
    min-height: 75px;
    line-height: 75px;
    margin-top: 50px;
    padding-left: 10px;
}

#Footer a{
    text-decoration: none;
    color: black;
}